<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mes chambres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card button="true">
            <ion-card-header>
              <ion-icon name="fast-food"></ion-icon>
              <ion-card-title>cuisine</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button="true">
            <ion-card-header>
              <ion-icon name="bed"></ion-icon>
              <ion-card-title>cham.àc</ion-card-title>
            </ion-card-header>
          </ion-card>          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card button="true">
            <ion-card-header>
              <ion-icon name="tv"></ion-icon>
              <ion-card-title>salon</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button="true">
            <ion-card-header>
              <ion-icon name="water"></ion-icon>
              <ion-card-title>toilet</ion-card-title>
            </ion-card-header>
          </ion-card>          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card button="true">
            <ion-card-header>
              <ion-icon name="barcode"></ion-icon>
              <ion-card-title>garage</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card button="true">
            <ion-card-header>
              <ion-icon name="logo-firefox"></ion-icon>
              <ion-card-title>jardin</ion-card-title>
            </ion-card-header>
          </ion-card>          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
