<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informations personnelles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="image">
      <ion-avatar slot="">
        <img src="https://i.pinimg.com/736x/ae/30/d1/ae30d1ffa3a1dac4c7b08955c481f619.jpg">
      </ion-avatar>
    </div>
    <div class="intems">
      <ion-item>
        <label slot="start">
          Nom
        </label>
        <p slot="end">
          Ayoub
        </p>
      </ion-item>
      <ion-item>
        <label slot="start">
          Prénom
        </label>
        <p slot="end">
          Er.rkhis
        </p>
      </ion-item>
      <ion-item>
        <label slot="start">
          N° d'engagement
        </label>
        <p slot="end">
          323424
        </p>
      </ion-item>
      <ion-item>
        <label slot="start">
          Date d'engagement
        </label>
        <p slot="end">
          23/10/2020
        </p>
      </ion-item>
    </div>
  </div>
</ion-content>